<style>
  /* change cover_img in config.yml */
  .jumbotron {
    background-color: var(--main-background-color) !important;
    background-image: url('/assets/img/{{site.hero_cover_img}}');
    text-align: center;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    justify-content: flex-end; /* Align items to the right */
    display: flex;
}

  .jumbotron-content {
    width: 40%; /* Set the width to 40% of the screen */
    margin-top: 60px;
    margin-right: 20px; /* Add some margin to the right */
    font-size: 1.5em; /* Increase the font size */
    text-align: left; /* Ensure text is left-aligned within the box */
    
    
    color: #000000;
  }

  .jumbotron-btns {
    display: block;
    margin-top: 50px;
  }
  
  .jumbotron-heading, .lead {
    color: #000000;
  }
  
  
</style>

<!-- home hero section -->
<div class="jumbotron">

  <div class="jumbotron-content">
    <!--<img class="author-profile-img" src="{{site.url}}{{site.baseurl}}/assets/img/{{site.author_logo}}" /> -->
    <!-- <p class="jumbotron-heading">Hi, I am {{site.author}} !</p> -->

    <p class="lead">
      
      Abde is a tech industry technologist  with over 16 years experience and hands-on in the CyberSecurity, Cloud, Network, and ML/AI / Software industries.
      <br><br>
      Abde worked for top vendors in the cybersec/cloud/network space : Juniper Networks, Huawei, Palo Alto Networks and Fortinet.<br>
      <br>
      Either as Consultant, Escalation Engineer, CSO, or CEO, he has led many tech businesses to innovation and success.<br>
      <br>
      Abde is also a frequent speaker at industry events, sharing insights and demonstrating his commitment to technical mastery and thought leadership.
  
    <br>

    <p class="lead" id="typewriteText"></p>
    <span>
      {%- include github_fork_button.html -%}
    </span>
    <!-- uncomment/modify buttons as you want-->
    <div class="jumbotron-btns">
      <a href="https://www.linkedin.com/in/abdessamadelamrani/" target="_blank">
        <button class="btn btn-md btn-warning"> <strong>My LinkedIn</strong> </button>
      </a>
      <a href="https://github.com/abdessamad-elamrani" target="_blank">
        <button class="btn btn-md btn-warning"> <strong>My GitHub</strong> </button>
      </a>
    </div>
  </div>
</div>