<style>
  .jumbotron {
    background-color: var(--main-background-color) !important;
    background-image: url('/assets/img/{{site.hero_cover_img}}');
    text-align: center;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end; /* Default for larger screens */
    align-items: center;
    min-height: 500px;
    padding: 2rem;
  }

  .jumbotron-content {
    width: 40%; /* Default width for larger screens */
    text-align: left;
    color: #000000;
  }

  .jumbotron-btns {
    display: block;
    margin-top: 50px;
  }

  .jumbotron-heading, .lead {
    color: #000000;
  }


  /* Media query for smartphones */
  @media (max-width: 500px) {
    .navbar-brand {
      margin-left: 5%; /* Adjust the percentage as needed */
    }
    .jumbotron {
      background-attachment: scroll !important;
      min-height: 300px;
      padding: 1rem; /* Adjust padding for smaller screens */
      justify-content: flex-end; /* Align content to the right on mobile */
      align-items: flex-start; /* Align content to the top on mobile */
      background-size: 300%; /* Increase the size to make it appear smaller (zoomed out) */
      background-position: top; /* Ensure the image is centered */
      background-repeat: no-repeat; 
      
    }
    .jumbotron-content {
      width: 65%; /* Use a larger width for better readability on mobile */
      font-size: 0.7em; /* Adjust font size for readability */
    }
    .lead {
      font-size: 0.7rem !important;
      font-weight: 700;
    }
  }
</style>

<!-- home hero section -->
<div class="jumbotron">

  <div class="jumbotron-content">
    <!--<img class="author-profile-img" src="{{site.url}}{{site.baseurl}}/assets/img/{{site.author_logo}}" /> -->
    <!-- <p class="jumbotron-heading">Hi, I am {{site.author}} !</p> -->

    <p class=lead>
      
      Abde is a tech industry technologist  with over 16 years experience and hands-on in the CyberSecurity, Cloud, Network, and ML/AI / Software industries.
      <br><br>
      Abde worked for top vendors in the cybersec/cloud/network space : Juniper Networks, Huawei, Palo Alto Networks and Fortinet.<br>
      <br>
      Either as Consultant, Escalation Engineer, CSO, or CEO, he has led many tech businesses to innovation and success.<br>
      <br>
      Abde is also a frequent speaker at industry events, sharing insights and demonstrating his commitment to technical mastery and thought leadership.
    </p>

    <br>
    

    <p class="lead" id="typewriteText"></p>
    <span>
      {%- include github_fork_button.html -%}
    </span>
    <!-- uncomment/modify buttons as you want-->
    <div class="jumbotron-btns">
      <a href="https://www.linkedin.com/in/abdessamadelamrani/" target="_blank">
        <button class="btn btn-md btn-warning"> <strong>LinkedIn</strong> </button>
      </a>
      <a href="https://github.com/abdessamad-elamrani" target="_blank">
        <button class="btn btn-md btn-warning"> <strong>GitHub</strong> </button>
      </a>
    </div>
  </div>
</div>