---
---

@charset "utf-8";

@import "devlopr";

/* custom css goes below */
.author-profile-img {
  width: 150px; /* Adjust the size as needed */
  height: 150px; /* Ensure the height matches the width for a perfect circle */
  border-radius: 50%; /* This makes the image round */
  object-fit: cover; /* Ensures the image covers the entire area without distortion */
}