---
layout: full-width
---

<script>
  $(document).ready(function() {
    $("#typewriteText").typewrite({
      blinkingCursor: false,
      speed: 10,
      selectedText: '#000000',
      actions: [{ type: "{{site.typewrite-text}}" }]
    });
  });
</script>
    <!-- hero section-->
    {%- include hero.html -%}
    <div class="col-lg-8 offset-md-2">
      {%- include recent_articles.html -%}
    </div>


    <!-- Include the blog summary -->
    <div class="col-lg-12">
      {%- include blog_summary.html -%}
    </div>

