<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TLS 1.3 Animation</title>
    <link href="{{ '/assets/react-app/static/css/main.0062ac11.css' | relative_url }}" rel="stylesheet">
</head>
<body style="margin:0; padding:0;">
    <div id="root"></div>
    <script src="{{ '/assets/react-app/static/js/488.781a4abc.chunk.js' | relative_url }}"></script>
    <script src="{{ '/assets/react-app/static/js/main.ae062ea9.js' | relative_url }}"></script>
</body>
</html>
